<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="jumbotron text-center" style="margin-bottom:0">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Chipadvisor</h6>
        <p>Here at Chipadvisor, we are shifting the way people connect through the game of golf. Our main focus is
        to bring together and motivate the golf community. Chipadvisor will help you track your game, motivate you,
          and let you connect with a whole network of people who share a common interest. </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Content</h6>
        <p>
          <a <%= link_to 'Courses', courses_path %></a>
        </p>
        <p>
          <a <%= link_to('Users', users_path) %></a>
        </p>
        <p>
          <a href="#!">Community</a>
        </p>
        <p>
          <a <%= link_to('Activity', page_path('main')) %></a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
        <p>
          <a <%= link_to 'Home', welcome_index_path %></a>
        </p>
        <p>
          <a <%= link_to 'About', page_path('about') %></a>
        </p>
        <p>
          <a <%= link_to 'Sign up', new_user_registration_path%></a>
        </p>
        <p>
          <a <%= link_to 'Login', new_user_session_path%></a>
        </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-home mr-3"></i> Columbus, OH 43215, US</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> Chipadvisor@email.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 555 555 5555</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 555 555 5555</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="">
            <strong> Franklin University Practicum: Andrew, Brock, and Melissa</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fas fa-share-square"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</div>