<!DOCTYPE html>
<html>
<head>
  <title>Chipadvisor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if request.path != welcome_index_path || current_page?(root_path)%>
  <div style="position: -webkit-sticky; position: sticky; top: 0; z-index: 1">
    <%= render 'layouts/topnav' %>
  </div>
<% end %>
</body>
<div>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</html>